/* Referenced this tutorial by Tahmid Ahmed for certain parts of the code https://www.youtube.com/watch?v=lgeoAUvoRJU */

::selection{
    background: #75fd63;
    color: #fe0002;
}
h4{
    margin-bottom: -20pt;
}
h5{
    margin-top: -5pt;
}
body{
    /* background: #74694e; */
    /* background: #090D0E; */
    background-image: url('components/ugly_bg.jpg');
    background-size:cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    color: #fffe7a;

}
.logo{
    color: #728f02;
    font-size: 50pt;
    font-family: 'Trebuchet MS';
    letter-spacing: 1.2pt;
    margin-left: -4%;
}
span{
    color: #eab5ff;
}
/* Code by Tahmid Ahmed (YouTube)*/
nav{
    display: flex;
    align-items: right;
    justify-content: space-between;
    font-size: 22pt;
    padding-top: 8pt;
    padding-left: 10%;
    padding-right: 10%;
}
.links{
    padding-top: 48pt;
    padding-left: 50pt;
}
/* Code by Tahmid Ahmed (YouTube)*/
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0pt 25pt;
}
nav ul li a{
    color: #fc824a;
}
nav ul li a:hover{
    color:#f43605;
}
/* .social{
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding-top: 8pt;
    padding-left: 10%;
    padding-right: 10%;
    padding-inline-end: -50%;
} */
.introduction{
    align-items: right;
    font-size: 30pt;
    padding-top: 25pt;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 1.2pt;
    color: #728f02;
}
.container{
    display: flex;
}
.portrait{
    width: 580pt;
    height: 580pt;
    margin-inline-start: -5%;
    margin-top: -5%;
}
.about{
    display: inline-block;
    font-size: 20pt;
    padding-inline-end: 1%;
    margin-top: 2%;
}
.content{
    display: inline-block;
    align-items: right;
    font-size: 22pt;
    padding-top: 25pt;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 1.2pt;
    padding-inline-end: 5%;
}
.history{
    color: #894585;
}
.offer{
    color: #fff4f2;
}
.points{
    color:  #fe2f4a;
}
/* Code by Tahmid Ahmed (YouTube)*/
footer{
    position: relative;
    width: 100%;
    height: 240pt;
    background: #728f02;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #758000;
}
footer p:nth-child(1){
    font-size: 25pt;
    margin-bottom: 0pt;  
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 20pt;
    margin-bottom: 12pt;  
    font-weight: bold;
}
footer p:nth-child(3){
    font-size: 8pt; 
    font-weight: bold;
    color: #fffeb6;
}