body{
    background: #090D0E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';

}
.logo{
    color: whitesmoke;
    font-size: 45pt;
    font-family: 'Trebuchet MS';
    letter-spacing: 1.2pt;
}
span{
    color: #0F243F;
}
nav{
    display: flex;
    align-items: right;
    justify-content: space-between;
    font-size: 20pt;
    padding-top: 45pt;
    padding-left: 10%;
    padding-right: 10%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10pt 25pt;
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    color:#0F243F;
}