body{
    background: #faebd7;
    color: black;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: larger;
    font-weight: 900;
}
h2{
    font-size: large;
    font-weight: 800;
}
h3{
    font-size: medium;
    font-weight: 600;
}
h4{
    font-size: small;
    font-weight: 400;
}
figure {
    border: thin burlywood solid;
    font-family: Georgia;
    font-style: italic;
}